{
  "printWidth": 80,
  "tabWidth": 4,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}